* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    height: 100vh; /* Might need to change this? */
}

.main {
    display: flex;
    flex-direction: column; /* Need more than this */
    justify-content: space-around;
    /* margin-left: 1rem; --> This moves everything correctly but leaves the gray bg color to the left of the form */
}

.intro {
    color: black;
}

form {
    display: flex;
    flex-direction: column; /* Need more than this */
    justify-content: space-around;
    gap: 2rem;
}

section {
    background-color: #FFFFFF;
    padding: 40px 30px 40px;
    box-shadow: 0 5px 3px #c7c9cc;
}

h1 {
    margin: 2rem;
    padding: 0;
}

section > p {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

section > div {
    display: flex;
    justify-content: space-between;
    max-width: 40%;
    margin: 0;
    padding: 30px 0;
    gap: 1rem;
}

label, input {
    display: block;
    padding: 0;
    margin: 10px 0;
    width: 120%;
    height: auto;
}

.form-row input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    box-shadow: none;
    padding: 5px;
}

.form-row input:focus {
    border: 1px solid blue;
    box-shadow: 5px 4px 4px #c7c9cc;
}

.form-row input:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    padding: 20px 80px;
    margin: 2rem;
    box-shadow: 5px 4px 4px #c7c9cc;
}

/* Choose between either this or "section > p" above? Do we need both? */
form > p {
    color: black;
    margin: 2rem;
    font-size: 16px;
    font-weight: bold;
}

a {
    color: #596D48;
}