* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    height: 100vh; /* Might need to change this? */
}

.main {
    display: flex;
    flex-direction: column; /* Need more than this */
    justify-content: space-around;
    /* margin-left: 1rem; --> This moves everything correctly but leaves the gray bg color to the left of the form */
}

/* We can target each part of the form with align-self */
form {
    display: flex;
    flex-direction: column; /* Need more than this */
    justify-content: space-around;
    gap: 2rem;
}

section {
    background-color: #FFFFFF;
}

h1 {
  margin: 1rem;
  padding: 16px;
}

/* This does nothing apparently
h1 .form-row {
    margin-left: 1rem;
} */

/* Might replace with h1 but would need to restyle the other p's inside the form & at the bottom
p {
  font-size: 48px;
  font-weight: 800;
} */

.form-row input:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #596D48;
    border: none;
    border-radius: 3px;
    padding: 20px 80px;
    box-shadow: #5D6063;
}

a {
    color: #596D48;
}