* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: row;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #596D48;
    border: none;
    border-radius: 3px;
    padding: 20px 80px;
}
/* Viewport height on the body or to match the height of the picture */